.background{
    background: #002D69;
    height: 60px;
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    color:white;
    text-align: left;
    margin-bottom: 0;
    font-weight: 400;
}

.logo_bold{
    font-weight: 800;
}

.menu{
    color: white
}

.menu:hover{
    background: #2F82DD;
}