<div class="background fixed-top">
    <h2 class="logo ml-4 mr-auto" routerLink="" style="cursor:pointer"><strong class="logo_bold">Pay</strong>Friends</h2>
    <div>
        <button mat-stroked-button color="primary" class="mr-4 menu" [matMenuTriggerFor]="menu">{{user.name}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile">Meu Perfil</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</div>
